
    .jumbotron { 

 text-align: center; 
    height: 400px; 
    
     
    
    } 
    img{
        height: 150;
        width: 150;
    }
     
 .option { 
    
     
    
    border: 2px red solid; 
    
     
    
    border-radius: 20%; 
    
     
    
    text-align: center; 
    
     
    
    width: 150px; 
    
     
    
    } 
    
     
    
     
    
     
    
    .option:hover { 
    
     
    
    cursor: pointer; 
    
     
    
    font-weight: bolder; 
    
     
    
    width: 170px; 
    
     
    
    height: 30px; 
    }


    
    
     
    
    
     
    

    
    